.place__url-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.2em;
  color: #AAA;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 999px) {
  .place__url-heading {
    line-height: 1;
  }
}

@media screen and (max-width: 695px) {
  .place__url-heading {
    line-height: 1;
  }
}