.footer__copyright_author {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #FFF;
  text-decoration: none;
  padding: 0;
  margin: 0;
  transition: 0.5s;
  cursor: pointer;
}

.footer__copyright_author:hover {
  opacity: 0.5;
}

@media screen and (max-width: 700px) {
  .footer__copyright_author {
    line-height: 1;
    margin: 48px 0 0;
  }
}