.place__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-decoration-line: underline;
  color: #FFF;
  padding: 0;
  margin: 12px 0 0;
  transition: 0.5s;
  cursor: pointer;
}

.place__link:hover {
  opacity: 0.5;
}