.footer {
  display: flex;
  padding: 92px 0 24px;
  margin: 0 auto;
  max-width: calc(100% - 48px * 2);
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding-top: 88px;
    max-width: calc(100% - 24px * 2);
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding-top: 64px;
    flex-direction: column;
    max-width: calc(100% - 16px * 2);
    align-items: flex-start;
  }
}